# Server & App Settings
PORT=3000
NODE_ENV=production
APP_URL=https://kemenagoki.id

# Database MySQL Configuration (Hostinger / cPanel / Cloud)
DB_HOST=localhost
DB_USER=
DB_PASSWORD=
DB_NAME=

# Email / SMTP Configuration (Hostinger Webmail)
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_USER=humas@kemenagoki.id
SMTP_PASS=PasswordEmailHostingerAnda
SMTP_FROM="Humas Kemenag OKI" <humas@kemenagoki.id>

